logs
logs/
dags/__pycache__
Python-3.10.9
src/__pycache__
fer_airflow
src/models/__pycache__
src/models/surebets/__pycache__
src/models/surebets/chuntala/__pycache__
src/models/surebets/betano/__pycache__
.vscode
.env
src/surebets/__pycache__
src/surebets/chuntala/__pycache__
src/surebets/betano/__pycache__
src/surebets/teapuesto/__pycache__
src/execs